<div class="modal fade" id="company_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= icon("fas", "building", @company[:name]) %> &middot; <%= @company[:number] %>
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="text-center">
          <small class="text-muted">
            <%= @company[:address].compact.map{ |k, v| v }.join(', ') %>
          </small>

          <h5>
            <%= @company[:active] ? icon("fas", "check-circle", 'Active') : icon("fas", "check-times", 'Inactive') %>
          </h5>
        </div>

        <!-- Company Officers -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Role</th>
              <th scope="col">Name</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @officers.each do |officer| %>
              <tr>
                <th scope="row"><%= officer[:occupation] %></th>
                <td><%= "#{officer[:first_name]} #{officer[:last_name]}" %></td>
                <td><%= officer[:appointed_on] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <hr>

        <!-- import company and contacts -->
        <%= form_tag({ controller: :contacts, action: :import }, id: :import_company_contacts_form, method: :post, remote: true) do %>
          <input type="hidden" name="company[name]" value="<%= @company[:name] %>">
          <input type="hidden" name="company[number]" value="<%= @company[:number] %>">
          <input type="hidden" name="company[address][address_line_1]" value="<%= @company[:address][:address_line_1] %>">
          <input type="hidden" name="company[address][address_line_2]" value="<%= @company[:address][:address_line_2] %>">
          <input type="hidden" name="company[address][country]" value="<%= @company[:address][:country] %>">
          <input type="hidden" name="company[address][region]" value="<%= @company[:address][:region] %>">
          <input type="hidden" name="company[address][locality]" value="<%= @company[:address][:locality] %>">
          <input type="hidden" name="company[address][premises]" value="<%= @company[:address][:premises] %>">
          <input type="hidden" name="company[address][postal_code]" value="<%= @company[:address][:postal_code] %>">

          <% @officers.each do |officer| %>
            <input type="hidden" name="officer[][first_name]" value="<%= officer[:first_name] %>">
            <input type="hidden" name="officer[][last_name]" value="<%= officer[:last_name] %>">
            <input type="hidden" name="officer[][occupation]" value="<%= officer[:occupation] %>">
            <input type="hidden" name="officer[][address][address_line_1]" value="<%= officer[:address][:address_line_1] %>">
            <input type="hidden" name="officer[][address][address_line_2]" value="<%= officer[:address][:address_line_2] %>">
            <input type="hidden" name="officer[][address][country]" value="<%= officer[:address][:country] %>">
            <input type="hidden" name="officer[][address][region]" value="<%= officer[:address][:region] %>">
            <input type="hidden" name="officer[][address][locality]" value="<%= officer[:address][:locality] %>">
            <input type="hidden" name="officer[][address][premises]" value="<%= officer[:address][:premises] %>">
            <input type="hidden" name="officer[][address][postal_code]" value="<%= officer[:address][:postal_code] %>">
          <% end %>

          <button type="submit" class="btn btn-block btn-success">Import Contacts</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
